[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
schedule = "*"
flask-restful = "*"
line-bot-sdk = "*"
configparser = "*"
pandas = "*"
[dev-packages]

[requires]
python_version = "3.8"
